*{
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(192, 192, 192);
}
.container{
    width: 320px;
    background-color:white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 80px;
    padding: 20px;
    
}

img{
    width: 100%;
    border-radius: 20px;
}

.one{
    font-weight: bold;
    font-size: 21px;
}
.two{
   color: grey;
   font-size: 17px;
}